.container {
    width: 1080px;
    margin:0 auto:}

.header h1 {
    float:left;
    margin 0 50px 0 30px;
}

.header {
    clear:both;
    padding-bottom: 20px;
    background: pink;
}

.header ul {
    padding-top: 10px;
}

nav ul li
{
display: inline;
list-style-type: none;
padding-left: 20px;
margin-top: 10px;

}


.aside
{
    width:230px;
    float:left;
    text-align: center;
    background-color:darkseagreen;
}


.aside ul li {
    list-style-type:none;
    padding: 5px 0;    
}

.content img {
    float:left;
    margin: 0 20px;
}

.content
{
    background-color:darkseagreen;
    width: 30px:
    float:left;
}

.top-content {
    height: 230px;
    clear:both;
}

.description {
    clear:right;
    padding: 10px 20px 0;
}


.footer
{
    background-color: cornflowerblue;
    padding: 20px;
    text-align: center;
}
