body {
    background: grey;
    color: black;
    	font-family: 'Verdana';

    }

.main-content {
    width: 1000px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
    color: red;
}

a {
color:#080079;
}

.mets {
    background: orange;
}

.dodgers {
    background: blue;
    color:white;

}

.cubs {
    
}

.pittsburgh {
    background: yellow;
}

.cardinals {
    background: red;
}

.table-container {
    background: black;
    color:white;
}
