
.container 
		{
         width:50%;
         margin:0 auto;
        }
        
.left 
			{
                float:left;
                width:40%;
                font-size:18px;
            }
            
.right 
			{
                float:right;
                width:40%;
                margin-left:10%;
            }
            
table, tr, th, td 
		{
            border: 1px solid black;
            padding: 8px;
        }
        
table 
		{
            margin-bottom: 50px;
        }
        
li:hover	
	{    background-color: yellow;
}


body
	{ 
	background-color:#F5DEB3;
	font-family:helvetica;
	}
	
tr:nth-child(even) 
	{
	background: yellow;
	}

p:first-child 
	{
    color: gray;
	}

tr:nth-child(odd)
	{
	background: white;
	}
