body {
    background-color: #659D32;
}

.header {
background:#9CBA7F;
float:right;
}

.nav {
background:#659D32;
}

.ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 } 

.main {
background:#9c9;
}

.sidebar {
background:#9CBA7F;
float:right;
}

.footer {
background:#cc9;
}
