.header {
background:#9CBA7F;
}

.nav {
background:#659D32;
}

.main {
background:#9c9;
}

.sidebar {
background:#9CBA7F;
}

.footer {
background:#cc9;
}

#main {
float:left;
width:500px;
background:#9c9;
}

#sidebar {
float:right;
width:250px;
background:#c9c;
}
